<div class="engines">
  <div class="circle">
    <div class="positives" info=""> 0 </div>
    <div class="total"> / 61 </div>
  </div> <svg id="circularProgressbar" class="circle-progressbar" height="100" width="100"
    style="stroke-dashoffset: 0; stroke-dasharray: 282.743;">
    <circle cx="50" cy="50" r="45" stroke-width="10" fill="transparent" stroke="var(--bs-primary)"></circle>
  </svg>
  <svg id="circularProgressbar" class="circle-progressbar" height="100" width="100"
    style="stroke-dashoffset: 276.317; stroke-dasharray: 282.743;">
    <circle cx="50" cy="50" r="45" stroke-width="10" fill="transparent" stroke="var(--bs-danger)"></circle>
  </svg>
</div>