    --vt-font-family-monospace: 'Iosevka Web',monospace;
    --vt-font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    --vt-body-font-size: 13px;
    --vt-body-text-color: var(
          --vt-primary-text-color,
          var(--bs-body-color)
        );
    --vt-link-hover-color: var(--bs-primary);
    --vt-ui-detections-list-body-color: var(--vt-body-text-color);
    --vt-ui-key-val-table-property-list-label-color: var(
          --vt-body-text-color
        );
    --vt-ui-key-val-table-property-list-value-color: var(
          --vt-body-text-color
        );
    --vt-ui-list-body-color: var(--vt-body-text-color);
    --vt-ui-list-link-hover-color: var(--vt-link-hover-color);
    --vt-ui-detections-ratio-body-color: var(--vt-body-text-color);
    --vt-ui-comment-color: var(--vt-body-text-color);
    --vt-ui-comment-link-color: var(--vt-body-text-color);
    --vt-ui-select-color: var(--vt-body-text-color);
    --vt-ui-checkbox-label-color: var(--vt-body-text-color);
    --vt-ui-expandable-detail-list-color: var(--vt-body-text-color);
    --vt-ui-expandable-detail-list-link-hover-color: var(
          --vt-link-hover-color
        );
    --vt-ui-simple-expandable-list-font-size: var(--vt-body-font-size);
    --vt-ui-key-val-table-property-list-font-size: var(--vt-body-font-size);
    --vt-ui-expandable-entry-font-size: var(--vt-body-font-size);
    --item-report-font-size-default: var(--vt-body-font-size);
    --vt-ui-detections-list-font-size: var(--vt-body-font-size);
    --vt-ui-chips-cursor: var(--intelligence-pivot-cursor);
    --vt-ui-checkbox-label-color: var(--bs-body-color);
    --vt-ui-checkbox-unchecked-color: var(--bs-body-color);
    --vt-ui-checkbox-checked-color: var(--bs-primary);
    --vt-ui-checkbox-checked-color: var(--bs-primary);
    --vt-ui-toolbar-icon-size: 28px;
    --skeleton-animation: skeleton-loading 2s ease infinite;
    --vt-ui-dropdown-content-border: none;
    --max-page-width: 1300px;
    --vt-ui-dialog-padding: 24px;
    --vt-ui-nav-links-hover-color: var(--bs-primary);
    --vt-blue-50: #ecefff;
    --vt-blue-100: #d6dcfe;
    --vt-blue-200: #b0b8fe;
    --vt-blue-300: #8895fe;
    --vt-blue-400: #6071ff;
    --vt-blue-500: #3a4eff;
    --vt-blue-600: #2b3bbf;
    --vt-blue-700: #1d2780;
    --vt-blue-800: #17206a;
    --vt-blue-900: #11174c;
    --vt-blue-A100: rgba(59, 107, 249, 0.5);
    --vt-blue-A200: rgba(59, 107, 249, 0.75);
    --vt-blue-A400: rgba(59, 107, 249, 0.9);
    --vt-blue-A700: #3b6bf9;
    --vt-grey-25: #fdfdfd;
    --vt-grey-50: #f9f9f9;
    --vt-grey-100: #f2f2f2;
    --vt-grey-200: #e6e6e6;
    --vt-grey-300: #cccccc;
    --vt-grey-400: #b3b3b3;
    --vt-grey-500: #9b9b9b;
    --vt-grey-600: #666666;
    --vt-grey-700: #4d4d4d;
    --vt-grey-800: #333333;
    --vt-grey-900: #1a1a1a;
    --vt-grey-A100: #a0a6b4;
    --vt-grey-A200: #82899d;
    --vt-grey-A400: #636b84;
    --vt-grey-A700: #363a4a;
    --vt-blue-grey-50: #f8f9fa;
    --vt-blue-grey-100: #dfe6eb;
    --vt-blue-grey-200: #cfd9e0;
    --vt-blue-grey-300: #a3b7c6;
    --vt-blue-grey-400: #8aa4b7;
    --vt-blue-grey-500: #7291a8;
    --vt-blue-grey-600: #4e697e;
    --vt-blue-grey-700: #3f5566;
    --vt-blue-grey-800: #31414c;
    --vt-blue-grey-900: #202c34;
    --vt-red-50: #ffe9ee;
    --vt-red-100: #ffd2db;
    --vt-red-200: #ffa5b7;
    --vt-red-300: #ff7992;
    --vt-red-400: #ff4c6e;
    --vt-red-500: #ff1f4a;
    --vt-red-600: #bf1738;
    --vt-red-700: #801025;
    --vt-red-800: #600f25;
    --vt-red-900: #400813;
    --vt-green-50: #e8f9f1;
    --vt-green-100: #d3f0e3;
    --vt-green-200: #a7e1c7;
    --vt-green-300: #7ad3ab;
    --vt-green-400: #4ec48f;
    --vt-green-500: #22b573;
    --vt-green-600: #1a8856;
    --vt-green-700: #115b3a;
    --vt-green-800: #0b3a23;
    --vt-green-900: #082d1d;
    --vt-yellow-50: #fffdf3;
    --vt-yellow-100: #fefbe1;
    --vt-yellow-200: #fef6c2;
    --vt-yellow-300: #fdf2a4;
    --vt-yellow-400: #fded85;
    --vt-yellow-500: #fce967;
    --vt-yellow-600: #bdaf4d;
    --vt-yellow-700: #7e7534;
    --vt-yellow-800: #685f2c;
    --vt-yellow-900: #3f3a1a;
    --vt-orange-50: #fef3e1;
    --vt-orange-100: #fee0b5;
    --vt-orange-200: #fdcc85;
    --vt-orange-300: #fcb758;
    --vt-orange-400: #fca73a;
    --vt-orange-500: #fc9929;
    --vt-orange-600: #f88d27;
    --vt-orange-700: #f27e24;
    --vt-orange-800: #ec6e22;
    --vt-orange-900: #e3551e;
    --vt-black: #000;
    --vt-white: #fff;
    --vt-blue-1: #4b63fb;
    --vt-blue-2: #1e88e5;
    --vt-blue-3: #005fbf;
    --vt-yellow-1: #fad24d;
    --vt-yellow-2: #cca400;
    --vt-yellow-3: #ffeb3b;
    --vt-black-1: #333;
    --vt-grey-1: #747474;
    --vt-grey-2: #d8d8d8;
    --vt-grey-3: #fafafa;
    --vt-green-1: #2cbf42;
    --vt-orange-1: #f0ad4e;
    --vt-red-1: #ff001f;
    --vt-primary-color: var(--bs-primary);
    --vt-success-color: var(--bs-success);
    --vt-warning-color: var(--bs-warning);
    --vt-error-color: var(--bs-danger);
    --vt-disabled-color: var(--bs-tertiary-color);
    --vt-primary-text-color: var(--bs-body-color);
    --vt-secondary-text-color: var(--bs-secondary-color);
    --vt-primary-background-color: var(--bs-body-bg);
    --vt-secondary-background-color: var(--bs-secondary-bg);
    --vt-link-color: var(--bs-body-color);
    --vt-link-decoration: none;
    --vt-link-hover-color: var(--bs-primary);
    --vt-link-hover-decoration: underline;
    --vt-border-color: var(--bs-border-color);
    --vt-border-active-color: var(--bs-primary);
    --vt-font-family-monospace: 'Iosevka Web',monospace;
    --vt-font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    --vt-body-font-size: 13px;
    --vt-body-text-color: var(
          --vt-primary-text-color,
          var(--bs-body-color)
        );
    --vt-ui-detections-list-body-color: var(--vt-body-text-color);
    --vt-ui-key-val-table-property-list-label-color: var(
          --vt-body-text-color
        );
    --vt-ui-key-val-table-property-list-value-color: var(
          --vt-body-text-color
        );
    --vt-ui-list-body-color: var(--vt-body-text-color);
    --vt-ui-list-link-hover-color: var(--vt-link-hover-color);
    --vt-ui-detections-ratio-body-color: var(--vt-body-text-color);
    --vt-ui-comment-color: var(--vt-body-text-color);
    --vt-ui-comment-link-color: var(--vt-body-text-color);
    --vt-ui-select-color: var(--vt-body-text-color);
    --vt-ui-expandable-detail-list-color: var(--vt-body-text-color);
    --vt-ui-expandable-detail-list-link-hover-color: var(
          --vt-link-hover-color
        );
    --vt-ui-simple-expandable-list-font-size: var(--vt-body-font-size);
    --vt-ui-key-val-table-property-list-font-size: var(--vt-body-font-size);
    --vt-ui-expandable-entry-font-size: var(--vt-body-font-size);
    --item-report-font-size-default: var(--vt-body-font-size);
    --vt-ui-detections-list-font-size: var(--vt-body-font-size);
    --vt-ui-chips-cursor: var(--intelligence-pivot-cursor);
    --vt-ui-checkbox-label-color: var(--bs-body-color);
    --vt-ui-checkbox-unchecked-color: var(--bs-body-color);
    --vt-ui-checkbox-checked-color: var(--bs-primary);
    --vt-ui-toolbar-icon-size: 28px;
    --vt-ui-dropdown-content-border: none;
    --max-page-width: 1300px;
    --vt-ui-dialog-padding: 24px;
    --vt-ui-nav-links-hover-color: var(--bs-primary);
    --vt-blue-50: #ecefff;
    --vt-blue-100: #d6dcfe;
    --vt-blue-200: #b0b8fe;
    --vt-blue-300: #8895fe;
    --vt-blue-400: #6071ff;
    --vt-blue-500: #3a4eff;
    --vt-blue-600: #2b3bbf;
    --vt-blue-700: #1d2780;
    --vt-blue-800: #17206a;
    --vt-blue-900: #11174c;
    --vt-blue-A100: rgba(59, 107, 249, 0.5);
    --vt-blue-A200: rgba(59, 107, 249, 0.75);
    --vt-blue-A400: rgba(59, 107, 249, 0.9);
    --vt-blue-A700: #3b6bf9;
    --vt-grey-25: #fdfdfd;
    --vt-grey-50: #f9f9f9;
    --vt-grey-100: #f2f2f2;
    --vt-grey-200: #e6e6e6;
    --vt-grey-300: #cccccc;
    --vt-grey-400: #b3b3b3;
    --vt-grey-500: #9b9b9b;
    --vt-grey-600: #666666;
    --vt-grey-700: #4d4d4d;
    --vt-grey-800: #333333;
    --vt-grey-900: #1a1a1a;
    --vt-grey-A100: #a0a6b4;
    --vt-grey-A200: #82899d;
    --vt-grey-A400: #636b84;
    --vt-grey-A700: #363a4a;
    --vt-blue-grey-50: #f8f9fa;
    --vt-blue-grey-100: #dfe6eb;
    --vt-blue-grey-200: #cfd9e0;
    --vt-blue-grey-300: #a3b7c6;
    --vt-blue-grey-400: #8aa4b7;
    --vt-blue-grey-500: #7291a8;
    --vt-blue-grey-600: #4e697e;
    --vt-blue-grey-700: #3f5566;
    --vt-blue-grey-800: #31414c;
    --vt-blue-grey-900: #202c34;
    --vt-red-50: #ffe9ee;
    --vt-red-100: #ffd2db;
    --vt-red-200: #ffa5b7;
    --vt-red-300: #ff7992;
    --vt-red-400: #ff4c6e;
    --vt-red-500: #ff1f4a;
    --vt-red-600: #bf1738;
    --vt-red-700: #801025;
    --vt-red-800: #600f25;
    --vt-red-900: #400813;
    --vt-green-50: #e8f9f1;
    --vt-green-100: #d3f0e3;
    --vt-green-200: #a7e1c7;
    --vt-green-300: #7ad3ab;
    --vt-green-400: #4ec48f;
    --vt-green-500: #22b573;
    --vt-green-600: #1a8856;
    --vt-green-700: #115b3a;
    --vt-green-800: #0b3a23;
    --vt-green-900: #082d1d;
    --vt-yellow-50: #fffdf3;
    --vt-yellow-100: #fefbe1;
    --vt-yellow-200: #fef6c2;
    --vt-yellow-300: #fdf2a4;
    --vt-yellow-400: #fded85;
    --vt-yellow-500: #fce967;
    --vt-yellow-600: #bdaf4d;
    --vt-yellow-700: #7e7534;
    --vt-yellow-800: #685f2c;
    --vt-yellow-900: #3f3a1a;
    --vt-orange-50: #fef3e1;
    --vt-orange-100: #fee0b5;
    --vt-orange-200: #fdcc85;
    --vt-orange-300: #fcb758;
    --vt-orange-400: #fca73a;
    --vt-orange-500: #fc9929;
    --vt-orange-600: #f88d27;
    --vt-orange-700: #f27e24;
    --vt-orange-800: #ec6e22;
    --vt-orange-900: #e3551e;
    --vt-black: #000;
    --vt-white: #fff;
    --vt-blue-1: #4b63fb;
    --vt-blue-2: #1e88e5;
    --vt-blue-3: #005fbf;
    --vt-yellow-1: #fad24d;
    --vt-yellow-2: #cca400;
    --vt-yellow-3: #ffeb3b;
    --vt-black-1: #333;
    --vt-grey-1: #747474;
    --vt-grey-2: #d8d8d8;
    --vt-grey-3: #fafafa;
    --vt-green-1: #2cbf42;
    --vt-orange-1: #f0ad4e;
    --vt-red-1: #ff001f;
    --vt-primary-color: var(--bs-primary);
    --vt-success-color: var(--bs-success);
    --vt-warning-color: var(--bs-warning);
    --vt-error-color: var(--bs-danger);
    --vt-disabled-color: var(--bs-tertiary-color);
    --vt-primary-text-color: var(--bs-body-color);
    --vt-secondary-text-color: var(--bs-secondary-color);
    --vt-primary-background-color: var(--bs-body-bg);
    --vt-secondary-background-color: var(--bs-secondary-bg);
    --vt-link-color: var(--bs-body-color);
    --vt-link-decoration: none;
    --vt-link-hover-color: var(--bs-primary);
    --vt-link-hover-decoration: underline;
    --vt-border-color: var(--bs-border-color);
    --vt-border-active-color: var(--bs-primary);
    --bs-blue: #0b4dda;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #000000;
    --bs-red: #c52420;
    --bs-orange: #e57300;
    --bs-yellow: #fce967;
    --bs-green: #39ac4c;
    --bs-teal: #20c997;
    --bs-cyan: #287bb5;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #666666;
    --bs-gray-dark: #333333;
    --bs-gray-100: #f9f9f9;
    --bs-gray-200: #f2f2f2;
    --bs-gray-300: #e6e6e6;
    --bs-gray-400: #cccccc;
    --bs-gray-500: #b3b3b3;
    --bs-gray-600: #666666;
    --bs-gray-700: #4d4d4d;
    --bs-gray-800: #333333;
    --bs-gray-900: #1a1a1a;
    --bs-primary: #0b4dda;
    --bs-success: #39ac4c;
    --bs-info: #007be6;
    --bs-warning: #e57300;
    --bs-danger: #c52420;
    --bs-primary-rgb: 11, 77, 218;
    --bs-success-rgb: 57, 172, 76;
    --bs-info-rgb: 0, 123, 230;
    --bs-warning-rgb: 229, 115, 0;
    --bs-danger-rgb: 197, 36, 32;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 32, 36, 44;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    --bs-font-monospace: "Iosevka Web", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #20242c;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #e5e9f0;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-code-color: #000000;
    --bs-highlight-bg: #fefbe1;
    color-scheme: light;
    --bs-disabled-color: #c7ccd6;
    --bs-link-color: var(--bs-body-color);
    --bs-link-hover-color: var(--bs-primary);
    --bs-primary-bg: #cfddfc;
    --bs-primary-color: #062b79;
    --bs-danger-bg: #fae1e0;
    --bs-danger-color: #6d1412;
    --bs-warning-bg: #fff2e5;
    --bs-warning-color: #804000;
    --bs-success-bg: #ecf9ee;
    --bs-success-color: #20602a;
    --bs-info-bg: #e5f3ff;
    --bs-info-color: #004480;
    --bs-secondary-color: #363c49;
    --bs-secondary-color-rgb: 54, 60, 73;
    --bs-secondary-bg: #f9fafb;
    --bs-secondary-bg-rgb: 249, 250, 251;
    --bs-tertiary-color: #626c84;
    --bs-tertiary-color-rgb: 98, 108, 132;
    --bs-tertiary-bg: #eceef4;
    --bs-tertiary-bg-rgb: 236, 238, 244;
    --bs-input-border-color: #a6b1c9;
    --bs-form-feedback-icon-valid: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%2339ac4c%27 viewBox=%270 0 8 8%27%3e%3cpath d=%27M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z%27/%3e%3c/svg%3e");
    --bs-form-feedback-icon-invalid: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 stroke=%27%23c52420%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 %3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23d9534f%27 stroke=%27none%27/%3e%3c/svg%3e");
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%2320242c%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%2320242c%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
    --bs-form-check-input-checked-bg-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
    --bs-form-check-radio-checked-bg-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%272%27 fill=%27%23fff%27/%3e%3c/svg%3e");
    --bs-form-check-input-indeterminate-bg-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27M6 10h8%27/%3e%3c/svg%3e");
    font-family: var(--vt-font-family);
    font-size: var(--vt-body-font-size);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    --vt-ui-popover-header-height: 20px;
    --skeleton-animation: skeleton-loading 2s ease infinite;
    color: var(--bs-body-color);
    --vt-ui-select-selected-label-color: var(--bs-primary);
    --vt-ui-sandbox-icon-color: var(--bs-primary);
    -webkit-tap-highlight-color: transparent;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    border-radius: 50%;
    background-color: var(--bs-tertiary-bg);
    width: 100px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0px auto 20px;